body{
    height: 100vh;
    background-color: #222;
}
h1{
    color: white;
    text-align: center;
}
.mon-md {
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: space-around;
}

.mon-md textarea {
    width: 40vw;
    border: 1px solid black;
    margin: 0;
    color: black;
}
.reactmarkdown{
    width: 40vw;
    color:white;
    border: 1px solid white;
}